# ========================
# Elasticsearch
# ========================
ELASTIC_VERSION=8.13.0
ELASTIC_PASSWORD=CAMBIA_ESTA_CONTRASEÑA
CLUSTER_NAME=fleet-iot-cluster
ES_PORT=9200

# ========================
# Kibana
# ========================
KIBANA_PASSWORD=CAMBIA_ESTA_CONTRASEÑA
KIBANA_PORT=5601

# ========================
# Logstash
# ========================
LOGSTASH_PORT=5044
LOGSTASH_HOST=localhost

# ========================
# Usuarios personalizados
# ========================
OPERATOR_PASSWORD=CAMBIA_ESTA_CONTRASEÑA
DRIVER_PASSWORD=CAMBIA_ESTA_CONTRASEÑA
